<form [formGroup]="productForm" (submit)="submitProduct()">
    <div>
        <label for="txtId">
            Id:
        </label>
        <!-- <input type="text" id="txtId" placeholder="enter product id" [formControl]="productid"> -->
        <input type="text" id="txtId" placeholder="enter product id" formControlName="productid">
        <span *ngIf="productForm.get('productid')?.errors">
            <span *ngIf="(productid?.touched || productid?.dirty) && productid?.errors?.['required']">
                please enter value
            </span>
            <span *ngIf="(productid?.touched || productid?.dirty) && productid?.errors?.['max']">
                Maximum value allowed is {{productid?.errors?.['max'].max}}, but you have enetered
                {{productid?.errors?.['max'].actual}}
            </span>
        </span>
    </div>
    <div>
        <label for="txtName">
            Name:
        </label>
        <input type="text" id="txtName" placeholder="enter product name" formControlName="productname">
    </div>
    <div>
        <label for="txtDesc">
            Description:
        </label>
        <textarea id="txtDesc" placeholder="ener product descripttion" formControlName="description"></textarea>
    </div>
    <div>
        <label for="txtPrice">
            Price:
        </label>
        <input type="text" id="txtPrice" placeholder="enter price name" formControlName="price">
    </div>
    <div>
        <label for="imgFile">
            Image:
        </label>
        <input type="file" id="imgFile" formControlName="imagePath">
    </div>
    <div>
        <button type="submit" [disabled]="!productForm.valid">
            Add Product
        </button>
    </div>
</form>